@import 'config/variables';
@import 'base/base';
@import 'layout/layout';
@import 'components/header';
@import 'components/home';
@import 'components/buttons';
@import 'components/category';
@import 'components/about';
@import 'components/trick';
@import 'components/discount';
@import 'components/new';
@import 'components/newsletter';
@import 'components/footer';
@import 'components/scroll';
@import 'components/breakpoints';
