/*=============== DISCOUNT ===============*/
.discount{
    &__container{
        background: var(--container-color);
        border-radius: 1rem;
        padding: 2.5rem 0 1.5rem;
        row-gap: .75rem;
    }
    &__data{
        text-align: center;
    }
    &__title{
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-2);
    }
    &__img{
        width: 200px;
        justify-self: center;
    }
}