/*=============== HEADER ===============*/
.header{
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        display: flex;
        align-items: center;
        column-gap: .5rem;
        font-weight: var(--font-medium);

        &-img{
            width: 1.25rem;
        }
    }
    &__link, 
    &__logo, 
    &__toggle,
    &__close{
        color: var(--title-color);
    }

    &__toggle{
        font-size: 1.25rem;
        cursor: pointer;
    }

    &__menu{
        @media screen and (max-width: 767px){
            position: fixed;
            width: 100%;
            background: var(--container-color);
            top: -150%;
            left: 0;
            padding: 3.5rem 0;
            transition: .4s;
            z-index: var(--z-fixed);
            border-radius: 0 0 1.5rem 1.5rem;
        }
    }

    &__img{
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__close{
        font-size: 1.8rem;
        position: absolute;
        top: .5rem;
        right: .7rem;
        cursor: pointer;
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }
    &__link{
        text-transform: uppercase;
        font-weight: var(--font-black);
        transition: .4s;

        &:hover{
            color: var(--text-color);
        }
    }
}

/* Show menu */
.show-menu{
    top: 0;
}

/* Change background header */
.scroll-header{
    background: var(--container-color);
}

/* Active link */
.active-link{
    position: relative;

    &::before{
        content: '';
        position: absolute;
        bottom: -.75rem;
        left: 45%;
        width: 5px;
        height: 5px;
        background-color: var(--title-color);
        border-radius: 50%;
    }
}