/*=============== NEWSLETTER ===============*/
.newsletter{
    &__description{
        text-align: center;
        margin-bottom: var(--mb-1-5);
    }
    &__form{
        background: var(--container-color);
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        border-radius: .75rem;
    }
    &__input{
        width: 70%;
        padding: 0 .5rem;
        background: none;
        color: var(--title-color);

        &::placeholder{
            color: var(--text-color);
        }
    }
}