/*=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    background: var(--container-color);
    right: 1rem;
    bottom: -20%;
    display: inline-flex;
    padding: .3rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;

    &:hover{
        background-color: var(--first-color);
        opacity: 1;
    }

    &__icon{
        font-size: 1.25rem;
        color: var(--title-color);
    }
}

/* Show Scroll Up*/
.show-scroll{
    bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .6rem;
    background: #413e3e;

    &-thumb{
        background: #272525;
        border-radius: .5rem;
    }
}